@model IEnumerable<test.Models.Cart>

@{
    ViewData["Title"] = "Cart";
}

<h1>Your cart</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExtendCart.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExtendCart.Qut)
            </th>
            <th>
                <b>ราคาต้องจ่าย</b>
            </th>
            <th>
                
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.ExtendCart.Price)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.ExtendCart.Qut)
            </td>
            <td>
                    <b>@(item.ExtendCart.Qut * item.ExtendCart.Price)</b>
            </td>
            <td>
                <a class="nav-link text-dark" asp-area="" asp-controller="Food" asp-action="InfoFood" asp-route-id="@item.IdFood">รายละเอียดอาหาร</a>
                <a class="nav-link text-danger" asp-area="" asp-controller="Cart" asp-action="Cancel" asp-route-id="@item.Id">ยกเลิก</a>
            </td>
        </tr>
}
    </tbody>
</table>
